<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="renderer" content="webkit">
  <title>稍等一下..</title>
  <link rel="stylesheet" href="http://cdn.amazeui.org/amazeui/2.6.1/css/amazeui.min.css">
  <style>
    html,body{
      height: 100%;
    }
    h1{
      margin-top: 100px;
    }
  </style>
</head>
<body>
<h1 class="am-sans-serif am-text-xxxl am-text-middle am-text-center">{{ msg }},<span id="time">3</span>秒后跳转</h1>
<script>
  let seconds = 2
  setInterval(function () {
    if (seconds === 0) {
      location.href = '/'
    }
    document.getElementById('time').textContent = seconds
    seconds --
  }, 1000)
</script>
</body>
</html>