<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="renderer" content="webkit">
  <title>login</title>
</head>
<body>

<div class="am-g am-g-fixed">
  <header class="am-u-lg-3 am-u-lg-centered">
    <h1>Pluto Note</h1>
  </header>
</div>

<div class="am-g am-g-fixed">
  <div class="am-tabs" data-am-tabs="{noSwipe: 1}">
    <ul class="am-tabs-nav am-nav am-nav-tabs">
      <li class="am-active"><a href="#tab1">登录</a></li>
      <li><a href="#tab2">注册</a></li>
    </ul>
    <div class="am-tabs-bd">
      <div class="am-tab-panel am-fade am-in am-active" id="tab1">
        <form class="am-form" method="post" action="/login/submit">
          <fieldset>
            <div class="am-form-group">
              <label for="userName">账号</label>
              <input type="text" id="userName" name="userName" class="am-form-field" placeholder="先输入账号" required maxlength="10">
            </div>
            <div class="am-form-group">
              <label for="userPassWord">密码</label>
              <input type="password" id="userPassWord" name="userPassWord" class="am-form-field" placeholder="再输入密码" required maxlength="12">
            </div>
            <button type="submit" class="am-btn am-btn-primary">登录</button>
          </fieldset>
        </form>
      </div>
      <div class="am-tab-panel am-fade" id="tab2">
        <form class="am-form" method="post" action="/register">
          <fieldset>
            <div class="am-form-group">
              <label for="newName">新账号</label>
              <input type="text" id="newName" name="newName" class="am-form-field" placeholder="新的账号" required maxlength="10">
            </div>
            <div class="am-form-group">
              <label for="newPassWord">新密码</label>
              <input type="password" id="newPassWord" name="newPassWord" class="am-form-field" placeholder="新的密码,最长12位" required maxlength="12">
            </div>
            <button type="submit" class="am-btn am-btn-primary">提交</button>
          </fieldset>
        </form>
      </div>
    </div>
  </div>
</div>

<script src="/build/commons.bundle.js"></script>
<script src="/build/login.bundle.js"></script>

</body>
</html>
