//文稿列表
#notes-list {
  max-height : 300px;
  width      : 500px;
  overflow-y : scroll;
}

//笔记本列表
div#notebooks-list ul {
  a {
    color : #000000;
    button {
      float : right;
    }
  }

  .hidden {
    visibility : hidden;
  }
}

body{

}
//导航栏
header.am-topbar {
  margin-bottom: 0;
  //float:left;width:100%;
}

//编辑器容器
#editor {
  //height: 100px;
}