//文稿列表
.am-topbar-left {
  button {
    margin-left: 20px;
    max-width : 210px;
  }

  #notes-list {
    max-height : 300px;
    width      : 500px;
    overflow-y : scroll;
  }
}

//笔记本列表
div#notebooks-list ul {
  a {
    color  : #000000;
    height : 52px;

    button {
      float : right;
    }
  }

  .hidden {
    visibility : hidden;
  }
}

//文稿记录列表
div#records-list {
  a {
    color  : #000000;
    height : 52px;
    font-size : 1rem;

    button {
      float : right;
    }
  }
}

//导航栏
header.am-topbar {
  margin-bottom : 0;
}