/*----------reset----------*/

header.am-topbar {
  margin-bottom : 0;
}

div.am-selected {
  float      : left;
  position   : relative;
  display    : block;
  margin-top : 8px;
  padding    : 0 10px;
}

div#notebooks-list ul.am-list button {
  float : right;
  //visibility:hidden;
}